nav {
background-color:rgb(182, 49, 49);
color: white;
text-align:center;
}

nav a {
    text-decoration: none;
    color: rgb(216, 212, 212);
}

ul {
    list-style-type:none;
}

li {
    display: inline;
    margin:10px;
}

p {
    color:darkblue;
    text-align:center;
}

#contador {
    margin-left:auto;
    margin-right:auto;
    background-color:lavender;    
    width: 300px;
}
